
                    {% extends 'main_app/common.html' %}
                    {% load static %}    
                
                    {% block content %} 
                    
                    <div class="jumbotron">
                      <h1 class="display-4">Latest news!!</h1>
                      <p class="lead">News and issues of women should no longer go unnoticed, know the real issues.</p>
                      <hr class="my-4">
                      <p>Refresh for latest News</p>
                      <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{% url 'main_app:news' %}" role="button"><i class="material-icons">refresh</i></a>
                      </p>
                    </div>
                    <style>.card { width:400px; height:400px;} </style>
                       <div class="row">   <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/1.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Tinder lends support to women-led business with free in-app ad inventory: Meet Career Guide and Mech Mocha and the women behind them<i class="material-icons right">more_vert</i></span>
                            <p><a class="waves-effect waves-light btn" href="  https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/tinder-lends-support-to-women-led-business-with-free-in-app-ad-inventory-meet-career-guide-and-mech-mocha-and-the-women-behind-them/articleshow/76092050.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">01 Jun, 2020, 04:29AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">Meet Surabhi Dewra, revolutionizing how career guidance works in India; and Arpita Kapoor, the woman behind India’s first vernacular live social gaming platform.</p></span>
                        </div>
                     </div>  <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/2.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">How to bolster the presence of women in India's labour force<i class="material-icons right">more_vert</i></span>
                            <p><a class="waves-effect waves-light btn" href="  https://economictimes.indiatimes.com/news/economy/policy/how-to-bolster-the-presence-of-women-in-indias-labour-force/articleshow/76098918.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">29 May, 2020, 06:37PM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">The patriarchal family structure, lack of education and required skills, restriction to household chores, lack of access to a safe workplace, maternity benefit and gender gap in pay are some reasons that deter women to participate in India’s labour force.</p></span>
                        </div>
                     </div>  <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/3.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Tinder Pledged free in-app inventory to women-led businesses: Meet PetKonnect and Civis.Vote and the women behind them<i class="material-icons right">more_vert</i></span>
                            <p><a class="waves-effect waves-light btn" href="  https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/tinder-pledged-free-in-app-inventory-to-women-led-businesses-meet-petkonnect-and-civis-vote-and-the-women-behind-them/articleshow/76093158.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">29 May, 2020, 02:58PM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">Reforming the pet-care industry in India and making citizens’ voices heard on laws and regulations, Devanshi Shah and Antaraa Vasudev are revolutionising the start-up ecosystem.</p></span>
                        </div>
                     </div>  <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/4.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Aadhaar authentications hit new high in April, May<i class="material-icons right">more_vert</i></span>
                            <p><a class="waves-effect waves-light btn" href="  https://economictimes.indiatimes.com/news/economy/indicators/aadhaar-authentications-hit-new-high-in-april-may/articleshow/76128198.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">01 Jun, 2020, 03:31AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">Aadhaar-based authentications touched a record high in April and May, topping 120 crore this month, as the government rolled out direct benefits to people using the Aadhaar platform under the PM Garib Kalyan Package (PMGKP).</p></span>
                        </div>
                     </div>  <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/5.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Barbershops, salons to open in Delhi, spas to remain shut: Kejriwal<i class="material-icons right">more_vert</i></span>
                            <p><a class="waves-effect waves-light btn" href="  https://economictimes.indiatimes.com/news/politics-and-nation/delhis-borders-to-be-sealed-for-a-week-announces-kejriwal/articleshow/76131652.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">01 Jun, 2020, 11:48AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">The administration had said that the source of infection in 42 per cent of coronavirus cases detected in the district in the last 20 days has been traced to Delhi.</p></span>
                        </div>
                     </div>  <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/6.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Lockdowns ease across Europe, Asia with new tourism rules<i class="material-icons right">more_vert</i></span>
                            <p><a class="waves-effect waves-light btn" href="  https://economictimes.indiatimes.com/news/international/world-news/lockdowns-ease-across-europe-asia-with-new-tourism-rules/articleshow/76137236.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">01 Jun, 2020, 12:58PM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">Greece lifted lockdown measures Monday for hotels, campsites, open-air cinemas, golf courses and public swimming pools, while beaches and museums reopened in Turkey and bars, restaurants, cinemas and museums came back to life in the Netherlands.</p></span>
                        </div>
                     </div>  <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/7.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">UP asks for family planning activity to resume, distribution of condoms<i class="material-icons right">more_vert</i></span>
                            <p><a class="waves-effect waves-light btn" href="  https://economictimes.indiatimes.com/news/politics-and-nation/up-asks-for-family-planning-activity-to-resume-distribution-of-condoms/articleshow/76120478.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">31 May, 2020, 11:57AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">The state had to suspend its extensive family planning activities since April, as the entire focus of the government machinery shifted to fighting the coronavirus outbreak and managing the lockdown. The nation’s most populous state has now realised that this is a problem that it cannot leave unattended.</p></span>
                        </div>
                     </div>  <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/8.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">The poor bring more business to banks in April<i class="material-icons right">more_vert</i></span>
                            <p><a class="waves-effect waves-light btn" href="  https://economictimes.indiatimes.com/industry/banking/finance/banking/the-poor-bring-more-business-to-banks-in-april/articleshow/76146841.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">02 Jun, 2020, 01:52AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">Loans to the economically weaker sections in April was nearly 40% higher than loans to big corporates, indicating low credit demand for investments while also pointing to the need for borrowings to keep the poor going at a time when economic activities came to a virtual standstill.</p></span>
                        </div>
                     </div>  <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/9.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Amit Panghal, Vikas Krishan nominated for Khel Ratna by BFI; 3 names for Arjuna<i class="material-icons right">more_vert</i></span>
                            <p><a class="waves-effect waves-light btn" href="  https://economictimes.indiatimes.com/news/sports/amit-panghal-vikas-krishan-nominated-for-khel-ratna-by-bfi-3-names-for-arjuna/articleshow/76137869.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">01 Jun, 2020, 01:06PM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">The BFI has nominated world bronze-winning trio of Lovlina Borgohain (69kg), Simranjit Kaur (64kg) and Manish Kaushik (63kg) for the Arjuna awards. Of these, Borgohain has won the world bronze twice, the most recent being last year.</p></span>
                        </div>
                     </div>  <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/10.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">UP govt to launch programmes to attract women voters<i class="material-icons right">more_vert</i></span>
                            <p><a class="waves-effect waves-light btn" href="  https://economictimes.indiatimes.com/news/politics-and-nation/up-scheme-to-attract-women-voters/articleshow/76098908.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">30 May, 2020, 05:25AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">The UP government’s latest initiative is the move to appoint ‘Banking Correspondent Sakhi’, or female banking agents, in all 5,8000 gram panchayats in the state. The sakhis will do door-to-door visits and are expected to become the main link between female customers, particularly those who are associated with self-help groups (SGHs), and the bank.</p></span>
                        </div>
                     </div>  <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/11.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Satya MicroCapital, Sindhuja Microcredit raise Rs 170 crore from global investors<i class="material-icons right">more_vert</i></span>
                            <p><a class="waves-effect waves-light btn" href="  https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/satya-microcapital-sindhuja-microcredit-raise-rs-170-crore-from-global-investors/articleshow/76135027.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">01 Jun, 2020, 11:03AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">Satya MicroCapital started its operations in January 2017 and has a network of 150 branches in 22 states. It primarily caters to women who own businesses and are looking for means of expansion.</p></span>
                        </div>
                     </div>  <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/12.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">World's reaction to US weaves solidarity, calls to change<i class="material-icons right">more_vert</i></span>
                            <p><a class="waves-effect waves-light btn" href="  https://economictimes.indiatimes.com/news/international/world-news/worlds-reaction-to-us-weaves-solidarity-calls-to-change/articleshow/76133258.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">01 Jun, 2020, 09:02AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">Many people around the world have watched with growing unease at the civil unrest in the U.S. after the latest in a series of police killings of black men and women. Floyd died on May 25 in Minneapolis after a white police officer pressed his knee on Floyd's neck until he stopped breathing. The officer was fired and charged with murder.</p></span>
                        </div>
                     </div>  <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/13.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">37% Indian women never bought gold: WGC study<i class="material-icons right">more_vert</i></span>
                            <p><a class="waves-effect waves-light btn" href="  https://economictimes.indiatimes.com/industry/cons-products/fashion-/-cosmetics-/-jewellery/37-indian-women-never-bought-gold-wgc-study/articleshow/76038677.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">27 May, 2020, 01:52PM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">Gold jewellery is the second most popular item they own when compared against a range of other fashion and lifestyle products. 60% of women own gold jewellery – second only to designer clothes/sarees. And 40% had bought gold jewellery in the preceding 12-month period, eclipsing purchases of diamond or platinum jewellery.</p></span>
                        </div>
                     </div>  <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/14.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">PM Modi says advancements nations make in health sector will matter more than ever<i class="material-icons right">more_vert</i></span>
                            <p><a class="waves-effect waves-light btn" href="  https://economictimes.indiatimes.com/industry/healthcare/biotech/healthcare/pm-pitches-for-new-tech-in-healthcare/articleshow/76131136.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">01 Jun, 2020, 08:59AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">Addressing an event at the Rajiv Gandhi Health University in Bengaluru via video conference, he sought a discussion on whether new models can be conceived that make telemedicine popular on a larger scale.</p></span>
                        </div>
                     </div> </div>
                        {% endblock %} 