
                    <!DOCTYPE html>
                    {% extends 'main_app/common.html' %}
                    {% load static %}    
                
                    {% block content %} 
                    <br>
                    <body>
                    <div style="max-width:80%; margin-left:auto; margin-right:auto; display:block;" >
                    <div class="jumbotron">
                      <h1 class="display-4">Latest news!!</h1>
                      <p class="lead">News and issues of women should no longer go unnoticed, know the real issues.</p>
                      <hr class="my-4">
                      <p class="lead">
                        <a style="color:white; background-color:black;" class="btn btn-primary btn-lg tooltipped" href="{% url 'main_app:news' %}" role="button"  data-position="right" data-tooltip="Refresh for latest news">Refresh</a>
                      </p>
                    </div>
                    <style>.card { width:400px; height:400px;} </style>
                       <div class="row" style="margin-left:8%;">   <div class="card" style="margin-left:20px">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/1.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Tinder is supporting women-led businesses in India with free in-app inventory: Meet MindPeers & Stack Finance and the inspiring women behind them<i class="material-icons right">more_vert</i></span>
                            <p><a style="color:white; background-color:black;" class="waves-effect waves-light btn" target="_blank" href="  https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/tinder-is-supporting-women-led-businesses-in-india-with-free-in-app-inventory-meet-mindpeers-stack-finance-and-the-inspiring-women-behind-them/articleshow/76217410.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">05 Jun, 2020, 11:59AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">From making mental health services more accessible to promoting financial planning to the young workforce, here’s how Kanika Agarwal (MindPeers) & Smriti Tomar (Stack Finance) are transforming their industries.</p></span>
                        </div>
                     </div>  <div class="card" style="margin-left:20px">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/2.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Shopping malls ready for re-opening on Monday; focus on contactless shopping, physical distancing<i class="material-icons right">more_vert</i></span>
                            <p><a style="color:white; background-color:black;" class="waves-effect waves-light btn" target="_blank" href="  https://economictimes.indiatimes.com/news/politics-and-nation/shopping-malls-ready-for-re-opening-on-monday-focus-on-contactless-shopping-physical-distancing/articleshow/76244991.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">07 Jun, 2020, 10:47AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">There are around 100 big and small shopping malls in the national capital, the source of around Rs 500 crore in revenue for the Delhi government, according to Brijesh Goyal, the convenor of the ruling Aam Aadmi Party's (AAP) trader's wing.</p></span>
                        </div>
                     </div>  <div class="card" style="margin-left:20px">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/3.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Women leaders, influencers on skills and mindsets in a post-Covid world<i class="material-icons right">more_vert</i></span>
                            <p><a style="color:white; background-color:black;" class="waves-effect waves-light btn" target="_blank" href="  https://economictimes.indiatimes.com/news/company/corporate-trends/women-leaders-influencers-on-skills-and-mindsets-in-a-post-covid-world/articleshow/76189400.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">04 Jun, 2020, 08:35AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">Interviews were conducted with women leaders and influencers, across corporates, SME organizations, as well as in education and the arts. Their responses all point in one unambiguous direction: that a new set of behavioural skills is needed for making the journey from survival to sustainability, in a post-COVID Indian ecosystem.</p></span>
                        </div>
                     </div>  <div class="card" style="margin-left:20px">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/4.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">India is the number 3 market in the world: Sanjeev Sharma, managing director, ABB India<i class="material-icons right">more_vert</i></span>
                            <p><a style="color:white; background-color:black;" class="waves-effect waves-light btn" target="_blank" href="  https://economictimes.indiatimes.com/opinion/interviews/india-is-the-number-3-market-in-the-world-sanjeev-sharma-managing-director-abb-india/articleshow/76245354.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">07 Jun, 2020, 11:25AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">Unfazed by the lockdown, Sanjeev Sharma said ABB is on the lookout for “good opportunities” in India. “Whenever such an opportunity comes, either from the private space or from the public sector, we will definitely have a look and evaluate how it fits into our overall business model.”</p></span>
                        </div>
                     </div>  <div class="card" style="margin-left:20px">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/5.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Govt sets up taskforce to examine maternal mortality rate, age of motherhood<i class="material-icons right">more_vert</i></span>
                            <p><a style="color:white; background-color:black;" class="waves-effect waves-light btn" target="_blank" href="  https://economictimes.indiatimes.com/news/politics-and-nation/govt-sets-up-taskforce-to-examine-maternal-mortality-rate-age-of-motherhood/articleshow/76231535.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">06 Jun, 2020, 09:34AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">The 10-member taskforce will be headed under the chairmanship of Jaya Jaitly.</p></span>
                        </div>
                     </div>  <div class="card" style="margin-left:20px">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/6.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">US Development Bank to invest $350 million in India<i class="material-icons right">more_vert</i></span>
                            <p><a style="color:white; background-color:black;" class="waves-effect waves-light btn" target="_blank" href="  https://economictimes.indiatimes.com/markets/stocks/news/us-development-bank-to-invest-350m-in-india/articleshow/76225431.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">06 Jun, 2020, 04:17AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">The investments mark one of the largest tranches approved during a board meeting, DFC said.</p></span>
                        </div>
                     </div>  <div class="card" style="margin-left:20px">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/7.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">How to bolster the presence of women in India's labour force<i class="material-icons right">more_vert</i></span>
                            <p><a style="color:white; background-color:black;" class="waves-effect waves-light btn" target="_blank" href="  https://economictimes.indiatimes.com/news/economy/policy/how-to-bolster-the-presence-of-women-in-indias-labour-force/articleshow/76098918.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">29 May, 2020, 06:37PM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">The patriarchal family structure, lack of education and required skills, restriction to household chores, lack of access to a safe workplace, maternity benefit and gender gap in pay are some reasons that deter women to participate in India’s labour force.</p></span>
                        </div>
                     </div>  <div class="card" style="margin-left:20px">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/8.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Is justice served by premature release of Jessica Lal’s killer?<i class="material-icons right">more_vert</i></span>
                            <p><a style="color:white; background-color:black;" class="waves-effect waves-light btn" target="_blank" href="  https://economictimes.indiatimes.com/news/politics-and-nation/is-justice-served-by-premature-release-of-jessica-lals-killer/articleshow/76252372.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">08 Jun, 2020, 01:58AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">Twenty-one years later, on June 1, 2020, Manu Sharma, the killer, serving a prison term for life, walked out of Tihar jail, released prematurely by the Delhi government on account of his “good conduct”.</p></span>
                        </div>
                     </div>  <div class="card" style="margin-left:20px">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/9.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">SC to take up on June 9 pleas seeking review of verdict upholding validity of Aadhaar scheme<i class="material-icons right">more_vert</i></span>
                            <p><a style="color:white; background-color:black;" class="waves-effect waves-light btn" target="_blank" href="  https://economictimes.indiatimes.com/news/politics-and-nation/sc-to-take-up-on-june-9-pleas-seeking-review-of-verdict-upholding-validity-of-aadhaar-scheme/articleshow/76247498.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">07 Jun, 2020, 02:05PM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">The Supreme Court will take up on June 9 pleas seeking review of a verdict upholding the Centre's flagship Aadhaar scheme as constitutionally valid but striking down some of its provisions, including its linking with bank accounts, mobile phones and school admissions.</p></span>
                        </div>
                     </div>  <div class="card" style="margin-left:20px">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/10.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Coronavirus frustrates Saudi women's push for financial independence<i class="material-icons right">more_vert</i></span>
                            <p><a style="color:white; background-color:black;" class="waves-effect waves-light btn" target="_blank" href="  https://economictimes.indiatimes.com/news/international/world-news/coronavirus-frustrates-saudi-womens-push-for-financial-independence/articleshow/76190443.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">04 Jun, 2020, 06:22AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">Women in the United States and Europe have taken an outsized hit from the wave of unemployment caused by the coronavirus, but for women in Saudi Arabia the downturn is particularly damaging because it struck just as their efforts to enter the workforce and gain greater financial independence were gaining traction.</p></span>
                        </div>
                     </div>  <div class="card" style="margin-left:20px">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/11.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Final instalment of Rs 500 to women Jan Dhan account holders from Friday: FinMin<i class="material-icons right">more_vert</i></span>
                            <p><a style="color:white; background-color:black;" class="waves-effect waves-light btn" target="_blank" href="  https://economictimes.indiatimes.com/news/economy/policy/final-instalment-of-rs-500-to-women-jan-dhan-account-holders-from-friday-finmin/articleshow/76198794.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">04 Jun, 2020, 02:19PM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">Beneficiaries are requested to follow the schedule to visit banks and CSPs and money can also be withdrawn via ATMs and BCs, the Financial Services Department under the Finance Ministry informed through a video message.</p></span>
                        </div>
                     </div>  <div class="card" style="margin-left:20px">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/12.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">FICCI Ladies Organisation signs MoU with social enterprise Women on Wings<i class="material-icons right">more_vert</i></span>
                            <p><a style="color:white; background-color:black;" class="waves-effect waves-light btn" target="_blank" href="  https://economictimes.indiatimes.com/news/politics-and-nation/ficci-ladies-organisation-signs-mou-with-social-enterprise-women-on-wings/articleshow/76140854.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">01 Jun, 2020, 03:47PM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">The partnership between FICCI FLO and Women on Wings (whose goal is to create jobs in rural India) will also play a critical role amidst the social and economic unrest brought by Covid-19. In view of a big migrant population moving back to their small towns and villages, the partnership is an effort to address the unique challenge of creating more employment opportunities in rural India.</p></span>
                        </div>
                     </div>  <div class="card" style="margin-left:20px">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/13.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">View: Modi 2.0 looks set to fulfil poll promises, Covid crisis or not<i class="material-icons right">more_vert</i></span>
                            <p><a style="color:white; background-color:black;" class="waves-effect waves-light btn" target="_blank" href="  https://economictimes.indiatimes.com/news/politics-and-nation/view-modi-2-0-looks-set-to-fulfil-poll-promises-covid-crisis-or-not/articleshow/76241777.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">07 Jun, 2020, 04:56AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">For the ruling BJP in particular, the beginning of temple construction would have been a grand backdrop to the commemoration of the first year of Modi 2.0.</p></span>
                        </div>
                     </div>  <div class="card" style="margin-left:20px">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img height="200" class="activator" src="{% static 'Pics/14.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Tinder lends support to women-led business with free in-app ad inventory: Meet Career Guide and Mech Mocha and the women behind them<i class="material-icons right">more_vert</i></span>
                            <p><a style="color:white; background-color:black;" class="waves-effect waves-light btn" target="_blank" href="  https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/tinder-lends-support-to-women-led-business-with-free-in-app-ad-inventory-meet-career-guide-and-mech-mocha-and-the-women-behind-them/articleshow/76092050.cms  ">See More</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title activator grey-text text-darken-4">01 Jun, 2020, 04:29AM IST
												
                          <i class="material-icons right">close</i>
                          <p class="activator">Meet Surabhi Dewra, revolutionizing how career guidance works in India; and Arpita Kapoor, the woman behind India’s first vernacular live social gaming platform.</p></span>
                        </div>
                     </div> </div></div>
                    </body>
                        {% endblock %} 