<!DOCTYPE html>
{% extends "main_app/common.html" %}
{% load static %}

<html lang="en">
    {% block content %}

    1. Women have the right to equal pay
According to the provisions listed under the Equal Remuneration Act, one cannot be discriminated on the basis of sex when it comes to salary, pay or wages.

Working women have the right to draw an equal salary, as compared to men.

    2. Women have the right to dignity and decency
In an event that the accused is a woman, any medical examination procedure on her must be performed by -- or in the presence of -- another woman.

3. Women have the right against workplace harassment
The Sexual Harassment of Women at Workplace Act gives a female the right to file a complaint against any kind of sexual harassment at her place of work.

Under this act, she can submit a written complaint to an Internal Complaints Committee (ICC) at a branch office within a period of 3 months.

4. Women have a right against domestic violence
Section 498 of the Indian Constitution looks to protect a wife, female live-in partner or a woman living in a household like a mother or a sister from domestic violence (including verbal, economic, emotional and sexual) by the hands of a husband, male live-in partner or relatives.

5. Female sexual assault victims have the right to keep their identity anonymous: To ensure that her privacy is protected, a woman who has been sexually assaulted may record her statement alone before the district magistrate when the case is under trial, or in the presence of a female police officer.

6. Women have the right to get free legal aid
Under the Legal Services Authorities Act, female rape victims have the right to get free legal aid or help from the Legal Services Authority who has to arrange a lawyer for her.

7. Women have right not to be arrested at night
Unless there is an exceptional case on the orders of a first class magistrate, a woman cannot be arrested after sunset and before sunrise.

In addition, the law also states that the police can interrogate a woman at her residence only in the presence of a woman constable and family members or friends.

8. Women have the right to register virtual complaints
The law gives women the provision for filing virtual complaints via e-mail, or writing her complaint and sending it to a police station from a registered postal address.

Further, the SHO sends a police constable to her place to record her complaint.

This is in case a woman is not in a position to physically go to a police station and file a complaint.

9. Women have the right against indecent representation
Depiction of a woman's figure (her form or any body part) in any manner that is indecent, derogatory, or is likely to deprave, corrupt or injure the public morality or morals, is a punishable offence.

10. Women have the right against being stalked
Section 354D of the IPC makes way for legal action to be taken against an offender if he/she follows a woman, tries to contact her to foster personal interaction repeatedly despite a clear indication of disinterest; or monitor the use by a woman of the internet, email or any other form of electronic communication.

11. Women have a right to Zero FIR
An FIR that can be filed at any police station irrespective of the location where the incident occurred or a specific jurisdiction it comes under, the Zero FIR can later be moved to the Police Station in whose jurisdiction the case falls under.

This ruling was passed by the Supreme Court to save the victim's time and prevent an offender from getting away scot-free.


    {% endblock %}



</html>